<!DOCTYPE html> 
<html>
<head>
  <link rel="stylesheet" href="./styles.css">
</head>
<body>
  <div id="main-container">
  <div id="drawer">
    <h2>Navigation talbe</h2>
  <div>
  <div id="trainers-container">
    {% for trainer_template in trainer_templates %}
        {{ trainer_template.render()? }}
    {% endfor %}
  </div>
  </div>
</body>
</html>
